<!DOCTYPE HTML>
<html>
<head>
	<title>条款</title>
	<link href="__PUBLIC__/news/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="__PUBLIC__/news/css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Blogname Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" 
	/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		  <script src="__PUBLIC__/news/js/jquery.min.js"></script>
		<!--end slider -->
				<!--script-->
<script type="text/javascript" src="__PUBLIC__/news/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/news/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!---->
</head>
<body>
<!---strat-banner---->
<div class="banner">				
	 <div class="header">  
		  <div class="container">
			  <div class="logo">
					<a href="index.html"> <img src="__PUBLIC__/news/images/logo.png" title="soup" /></a>
			 </div>
			 <!---start-top-nav---->
			 <div class="top-menu">
				  <span class="menu"> </span>
				   <ul>
					   <li><a href="{:url('/index')}">新闻主页</a></li>
					   <li><a href="{:url('/index/contact')}">联系我们</a></li>
					   <li class="active"><a href="{:url('/index/terms')}">条款</a></li>
					   <div class="clearfix"> </div>
				 </ul>
			 </div>
					<script>
					$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
					});
					</script>
				<!---//End-top-nav---->					
		 </div>
	 </div>
	 <div class="container">
		 <div class="banner-head">
			 <h1>最新 最快 最好玩的新闻</h1>
			 <h2>热烈庆祝党的十九大胜利圆满结束！</h2>
		 </div>
	 </div>
</div>
<!---//End-banner---->

<div class="terms">
	 <div class="container">
		  <div class="terms-sec-head">
				<h3>文明上网规范要求</h3>
				<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor quis lectus et aliquam. Morbi lobortis tincidunt est, nec sodales quam condimentum a. Integer sollicitudin ornare molestie. Nam vel ligula tincidunt, rutrum lorem ac, euismod leo. Nam ac placerat mauris. Maecenas in accumsan purus, vel facilisis mauris. Cras ac odio metus. Etiam vel congue est, malesuada vulputate lectus.</p>-->
		  </div> 
		 <div class="term">
				<h4>1)&nbsp;</h4>
				<p>严格遵守《中华人民共和国计算机信息网络国际联网管理暂行规定》、《互联网信息服务管理办法》等国家法律法规。恪守网络道德，文明上网。</p>
		 </div>	
		 <div class="term">
				<h4>2)&nbsp;</h4>
				<p>自觉遵守有关保守国家机密的各项法律规定，不泄露党和国家机密，或传送有损国格、人格的信息；禁止在网络上从事违法犯罪活动。不制作、查阅、复制和传播有碍社会治安及社会公德和有伤社会风化的信息。不得发表任何诋毁国家、政府、党的言论，不得发表任何有碍社会稳定、国家统一和民族统一的言论。</p>
		 </div>	
		 <div class="term">
				<h4>3)&nbsp; </h4>
				<p>不得擅自复制和使用网络上未公开和未授权的文件；不得在网络中擅自传播或拷贝享有版权的软件，或销售免费共享的软件。网络上所有资源的使用应遵循知识产权的有关法律法规。不利用网络盗窃别人的研究成果和受法律保护的资源。</p>
		 </div>
			<div class="term">
				<h4>4)&nbsp; </h4>
				<p>不得使用软件的或硬件的方法窃取他人口令，非法入侵他人计算机系统，阅读他人文件或电子邮件，滥用网络资源。不得制造和传播计算机病毒等破坏性程序。禁止破坏数据、破坏网络资源，或其它恶作剧行为。 </p>
		 </div>
		 <div class="term">
				<h4>5)&nbsp; </h4>
			    <p>不在网络上接收和散布封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖等有害信息。不得浏览色情、暴力、不健康的网站网页。</p>
		 </div>
		 <div class="term">
				<h4>6)&nbsp</h4>
			 	<p>不得捏造或歪曲事实、散布谣言、诽谤他人、扰乱社会秩序的不良信息。 </p>
		 </div>
		 <div class="term">
			 <h4>7)&nbsp</h4>
			 <p>要善于网上学习，不浏览不良信息；要诚实友好交流，不侮辱欺诈他人；要增强自护意识，不随意约会网友；要维护网络安全，不破坏网络秩序；</p>
		 </div>
		 <input type="checkbox"><p class="agree">我已阅读并遵守以上规则</p>
		 <div class="clearfix"></div>
		 <a href="{:url('/index')}"><input type="button" value="确定"></a>

	 </div>
</div>
<!--fotter-->
<div class="fotter">
	<div class="container">
		<div class="col-md-4 fotter-info">
			<h3>关于我们</h3>
			<p>最新 最快 最好玩的新闻 </p>
			<p>热烈庆祝党的十九大胜利圆满结束！ </p>
		</div>
		<div class="col-md-4 fotter-list">
			<h3>新闻快看</h3>
			<ul>
				<li><a href="#">国内新闻</a></li>
				<li><a href="#">本地新闻</a></li>
				<li><a href="#">国际新闻</a></li>
			</ul>
		</div>
		<div class="col-md-4 fotter-list">
			<h3>联系我们</h3>
			<ul>
				<li><a>电话：88888888</a></li>
				<li><a>手机：15842696705</a></li>
				<li><a>地址：软件园路8号</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!---fotter/-->
<div class="copywrite">
	 <div class="container">
		 <p>新闻网站</p>
</div>
</div>
<!---->
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>



</body>
</html>